doctype html
html(lang="es")
	head
		title Mi página
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/css/app.css" rel="stylesheet")
	body
		nav(class="large-padding black white-text")
			ul
				li
					a(href="/app") Inicio
				li 
					a(href="/app/imagenes/new") Subir imagenes
				li 
					a(href="/app/imagenes") Mis imagenes
		block contenido